@import "../../styles//base";

.serviceContainer {
  overflow-x: hidden;
  @include body;
}

.serviceHeader {
  @include parallax;
  background-image: url("../../static/images/service.png");
  height: 100%;
  width: 100%;
  top: 0;
  border: none;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  @include apply-at-sm-size {
    min-height: 442px;
    background-position: center;
  }
  @include apply-at-lg-size {
    min-height: 700px;
    background-position: center;
  }
}
.service-headerText {
  @include textShadow;

  color: $color-cream;
  padding-top: 20%;
  margin-left: 5%;
  width: 50%;
  font-size: 48px;
  @include apply-at-sm-md-size {
    font-size: 18px;
    padding-top: 60%;
    width: 45%;
  }
}
.service-title {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 1%;
  @include apply-at-sm-md-size {
    font-size: 14px;
  }
}
.service-animation {
  height: 450px;
  width: 450px;
  @include apply-at-sm-md-size {
    width: 300px;
    height: 300px;
  }
}
.subservice-icon {
  width: 80px;
  height: 80px;
}
.background-service {
  background-image: url("../../static/images/bg_service.png");
  border: none;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.service-top-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.dev-service-container {
  @include directionX;
  @include content-center;
  justify-content: space-around;
  width: 90%;
  @include apply-at-sm-md-size {
    @include directionY;
    align-items: center;
  }
}
.sub-service-card {
  @include apply-at-sm-md-size {
    width: 100%;
    margin: 2% 0;
  }
}
.sub-service-title {
  font-size: 20px;
  @include apply-at-sm-md-size {
    font-size: 16px;
  }
}
.sub-service-subtitle {
  @include apply-at-sm-md-size {
    font-size: 14px;
  }
}
.left {
  @include directionY;
  justify-content: space-around;
  width: 30%;
  text-align: center;
  @include apply-at-sm-md-size {
    width: 100%;
  }
}
.mid {
  @include directionY;
  justify-content: space-around;
  width: 30%;
  text-align: center;
  @include apply-at-sm-md-size {
    width: 100%;
  }
}
.right {
  @include directionY;
  justify-content: space-around;
  width: 30%;
  text-align: center;
  @include apply-at-sm-md-size {
    width: 100%;
  }
}
.content-separator {
  position: relative;
  margin-bottom: -55px;
  @include apply-at-sm-md-size {
    width: 360px;
  }
}
.creative-top-content {
  @include directionX;
  margin-top: 5%;
  justify-content: space-around;
  @include apply-at-sm-md-size {
    @include directionY;
    align-items: center;
    justify-content: space-around;
  }
}
.creative-bottom-content {
  @include directionX;
  margin-top: 5%;
  justify-content: space-around;
  @include apply-at-sm-md-size {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }
}
.card-wrapper {
  width: 30%;
  text-align: center;
  @include apply-at-sm-md-size {
    width: 90%;
    margin: 10% 0;
  }
}

.service-ilustration {
  @include apply-at-sm-md-size {
    width: 300px;
    height: auto;
    min-height: 200px;
  }
}
.service-bottom-section {
  @include apply-at-sm-md-size {
    margin-top: -200px;
    position: relative;
  }
}
.creative-service-container {
  @include directionY;
  justify-content: space-between;
  padding-bottom: 100px;
}
.bottom-separator {
  margin-bottom: -25px;
  @include apply-at-sm-md-size {
    height: 100%;
    margin-bottom: 20px;
  }
}
.image-separator {
  @include apply-at-sm-md-size {
    min-height: 200px;
  }
}
