@import "../../styles/base";

.not-found-container {
}
.not-found-header {
  background-image: url("../../static/images/not_found.png");
  width: 100%;
  margin-top: -20px;
  border: none;
  object-fit: cover;
  object-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}
.not-found-img {
}
