@import "../../styles/base";

.portfolio-detail-container {
  overflow-x: hidden;
  @include body;
}
.portfolio-detail-header {
  height: 100%;
  width: 100%;
  margin-top: -20px;
  border: none;
  object-fit: cover;
  object-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  @include apply-at-sm-md-size {
    min-height: 442px;
    background-position: center;
  }
  @include apply-at-lg-size {
    min-height: 700px;
    background-position: center;
  }
}
.portfolio-detail-title {
  color: $color-white;
  bottom: 10px;
  padding-top: 30%;
  font-size: 38px;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 5px;
  @include apply-at-sm-size {
    font-size: 20px;
    padding-top: 85%;
  }
  @include apply-at-md-size {
    font-size: 20px;
    padding-top: 80%;
  }
}
.detail-content-container {
  @include directionX;
  @include paddedWrapper;
  border-top: 2px solid $color-white;
  border-bottom: 2px solid $color-white;
  color: $color-white;
  justify-content: space-around;
  background: black;
  @include apply-at-sm-md-size {
    @include directionY;
    padding-top: 0;
  }
}
.detail-description-section {
  width: 35%;
  @include apply-at-sm-md-size {
    width: 100%;
    font-size: 14px;
  }
}
.description-title {
  border-bottom: 1px solid $color-white;
  padding-bottom: 1rem;
  @include apply-at-sm-md-size {
    font-size: 16px;
  }
}
.category-title {
  border-bottom: 1px solid $color-white;
  padding-bottom: 1rem;
  @include apply-at-sm-md-size {
    font-size: 16px;
  }
}
.detail-category-section {
  width: 35%;
  @include apply-at-sm-md-size {
    width: 100%;
    font-size: 14px;
  }
}
.secondimage {
  width: 100%;
  @include apply-at-sm-md-size {
    height: 100%;
  }
}
.portfolio-detail-result {
  @include content-center;
  text-align: center;
  width: 60%;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
  @include apply-at-sm-md-size {
    font-size: 12px;
    width: 90%;
    margin-bottom: 120px;
  }
  @include apply-at-lg-size {
    @include paddedWrapper;
  }
}
