@import "../../styles/base";

.navbarContainer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: transparent;
  transition: background-color 1.5s ease;
}

.navbar-active {
  background-color: #011b3e;
  transition: background-color 1s ease;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}
.active {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 5px;
}
.logo {
  margin-top: 5rem;
  overflow: hidden;
  height: 45px;
  display: inline-block;
  margin: 13px 0 0 41px;
  @include apply-at-sm-md-size {
    margin-left: 15%;
  }
}
.menuWrapper {
  width: 40%;
  align-items: center;
  padding-right: 1rem;
  @include apply-at-md-size {
    border: 1px solid red;
  }
}

.menuWrapper ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0.5rem;
}
.logo:hover {
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: $color-white;
  font-size: 1rem;
  line-height: 24px;
  font-family: "Krona One", sans-serif;
}
.link:hover {
  color: $color-white-on-hover;
}
