@import '../../styles/base'; 
.sidebarContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
} 
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  right: 30px;
  top: 10px;
  color: white;
  height: 25px;
  width: 30px;
}
.bm-burger-bars {
  background: white;
}
.bm-burger-bars-hover {
  // background: #a90000;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  top: -150px;
}
.bm-cross {
  background: #bdc3c7;
  position: relative;
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
}
.bm-menu {
  position: relative;
  background: #0A1931;
  // background: #132238;
  padding: 5em 1.5em 0;
  text-align: center;
  font-size: 1.15em;
  top: -40px;
  @include apply-at-sm-size {
    top: -35px;
  }
}
.bm-morph-shape {
  fill: #373a47;
}
.bm-item-list {
  color: #b8b7ad;
  text-align: left;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 1rem;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}